.widgets {
  display: flex;
  flex-direction: column;
}
.widget1 {
  margin-bottom: 30px;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .widget1 {
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: flex-start;
  }
}
.Hide-ads {
  width: 500;
}
